/*************** GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
     /* border: black 1px solid; */
}

body {
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(219,219,210,1) 15%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#vue_box {
    max-width: 1500px;
    width: 80%;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    height: calc(100% - 46px) ;
        /* border: blue 3px solid; */
}

.profile_pic {
    border-radius: 50%;
    height: 60px;
}
p {
    font-weight: 600;
}
/******************** ASIDE */
aside {
    background-color: #fafafa;
    /* background-color: blue; */
    width: 30%;
    min-width: 350px;
    float: left;
    height: 100%;

        /* border: red 3px solid; */
}

    /* ? section 1 user_nav */
.aside_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
        /* border: olivedrab 2px solid; */
}
.aside_nav .user_profile img, 
.aside_nav .user_profile p {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
} 
.aside_nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 10px;
}
.aside_nav ul li i{
    color: #B1B1B1;
}
.aside_nav ul li i:hover{
    color: #666666;
}

    /* ? section 2  notifiche*/
.notifications {
    background-color: #8EDAFC;
    padding: 15px;
    /* height: 80px;  */
}
.notification_icon, 
.notification_text {
    display: inline-block;
    vertical-align: middle;
} 
.notification_icon {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding: 14px 12px;
    margin-right: 10px;
        /* border: orchid 3px solid; */
}
.notification_icon i{
    font-size: 20px;
    color: #8EDAFC;
}
.notification_text a{
    font-size: 0.8em;
    color: #4f7485;
}

    /* ? section 3 search*/
.search {
    display: flex;
    padding: 8px
}
.search * {
    background-color: white;
    border: #fafafa solid 1px ;
}
.search input{
    width: 100%;
    padding: 10px;
}
.search i {
    padding: 10px 30px;
    color:   #B1B1B1;
}
    
    /* ! section 4 chat previews*/
.aside_main {
    height: calc(100% - 232px);
        /* border: darkgoldenrod 1px solid; */
}
.aside_main ul li{
    position: relative;
    padding: 8px;
    list-style-type: none;
        /* border: yellow solid 3px; */
}
.aside_main ul li img, 
.aside_main ul li .not_imm{
    display: inline-block;
    vertical-align: text-top;

}
.aside_main ul li:after{
    content: "";
    position: absolute;
    /* original:
    width: 90%; 
    left: 15px;
    right: 15px;
     */
    left: 0;
    right: 0;
    height: 1px; 
    background: #f5f5f5;
    top: 100%;


    /* border: black 3px solid; */
}


    /******************** ASIDE */
main {
    width: 69%;
    float: right;
    height: 100%;
    /* display: inline-block; */

        border: palevioletred 3px solid;
}