/*************** GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
     /* border: black 1px solid; */
}

body {
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 16%, rgba(219,219,210,1) 16%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    min-width: 1200px ;
    overflow-y: hidden;
    overflow-x: hidden;
}

#vue_box {
    max-width: 1500px;
    width: 80%;
    min-width: 1000px;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    height: calc(100% - 46px) ;
        /* border: blue 3px solid; */
}

p {
    font-weight: 600;
}

.profile_pic {
    border-radius: 50%;
    height: 60px;
}

.active {
    background-color: #e9ebeb;
}
/******************** ASIDE */
aside {
    background-color: #fafafa;
    /* background-color: blue; */
    width: 30%;
    min-width: 300px;
    float: left;
    height: 100%;

        /* border: red 3px solid; */
}

    /* ? section 1 user_nav */
.aside_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
        /* border: olivedrab 2px solid; */
}
.aside_nav .user_profile img, 
.aside_nav .user_profile p {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
} 
.aside_nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 10px;
}
.aside_nav ul li i{
    color: #B1B1B1;
}
.aside_nav ul li i:hover{
    color: #666666;
}

    /* ? section 2  notifiche*/
.notifications {
    background-color: #8EDAFC;
    padding: 15px;
    /* height: 80px;  */
}
.notification_icon, 
.notification_text {
    display: inline-block;
    vertical-align: middle;
} 
.notification_icon {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding: 14px 12px;
    margin-right: 10px;
        /* border: orchid 3px solid; */
}
.notification_icon i{
    font-size: 20px;
    color: #8EDAFC;
}
.notification_text a{
    font-size: 0.8em;
    color: #4f7485;
}

    /* ? section 3 search*/
.search {
    display: flex;
    padding: 8px;
    border-bottom: 2px #fafafa solid 
}
.search * {
    background-color: white;
    border: #fafafa solid 1px ;
}
.search input{
    width: 100%;
    padding: 10px;
}
.search i {
    padding: 10px 30px;
    color:   #B1B1B1;
}
    
    /* todo section 4 chat previews*/
.aside_main {
    height: calc(100% - 232px);
    overflow-y: scroll;
        /* border: darkgoldenrod 1px solid; */
}
.aside_main ul li{
    position: relative;
    padding: 8px;
    list-style-type: none;
        /* border: yellow solid 3px; */
}
.aside_main ul li img, 
.aside_main ul li .not_imm{
    display: inline-block;
    vertical-align: text-top;

}
.aside_main ul li:after{
    content: "";
    position: absolute;
    /* original:
    width: 90%; 
    left: 15px;
    right: 15px;
     */
    left: 0;
    right: 0;
    height: 1px; 
    background: #f5f5f5;
    top: 100%;


    /* border: black 3px solid; */
}


    /******************** MAIN */
main {
    width: 70%;
    min-width: 700px;
    float: right;
    height: 100%;
        border: palevioletred 3px solid;
}

    /* ? MAIN NAV */
.main_nav {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}
.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
        /* border: olivedrab 2px solid; */
}
.main_nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 10px;
}
.main_nav .contact_info img,
.main_nav .contact_info .side_text {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
.main_nav ul li i{
    color: #B1B1B1;
}
.main_nav ul li i:hover{
    color: #666666;
}

    /* ! MAIN CHAT MESSAGES */
#chat_messages {
    background: url("img/mine.jpg");
    height: calc(100% - 150px);
}

#chat_messages{
    display: flex;
    flex-direction: column;
}
.sent,
.received{
    width: 40%;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 12px;
    margin-top: 10px;
}
.sent{
    margin-right: 8%;
    background-color: #d5f9ba;
    align-self: flex-end;

}
.received{
    margin-left: 8%;
    background-color: white;
    align-self: flex-start;
}

    /* ! BOTTOM MAIN -> TEXT INPUT */
.chat_input {
    height: 70px;
    vertical-align: middle;
    background-color: #f3eeea;
}
.chat_input *{
    /* border: blue 2px solid; */
}
/* .chat_input ul {
    display: flex;
    justify-content: stretch;
} */
.chat_input ul li {
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 10px;
}
.chat_input ul li i{
    font-size: 25px;
    color: #6B7376;
    padding: 15px;
    cursor: pointer;
        /* border: red 2px solid; */
}
.chat_input ul li.new_message {
    width: 79%;
}
.chat_input ul li.new_message input{
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#microphone: {
    color: red;

}